@model IEnumerable<ITEquipReq.Models.Equipment>

    @{
        Layout=null;

    }
    <!DOCTYPE html>
    <html>
        <head>
            <meta name= "viewport" content="width=device-width"/>
            <title> Available Equipment</title>
            <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
            </head>
            <body>
                <div class="text-center p-2">
                <h2 class="text-center"> Here is the list of Available equipment</h2>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr><th>ID</th> <th>Description</th><th>Availability</th></tr>
                    </thead>
                    <tbody>
                        @foreach (ITEquipReq.Models.Equipment r in Model)

                        {
                            <tr>
                                <td>@r.Id</td>
                                <td>@r.Description</td>
                                <td class="bg-success">@r.Availability</td>
                            </tr>
                            
                        }
                    </tbody>
                </table>
                </div>
            </body>
    </html>