@model ITEquipReq.Models.FormResponse
@{
    Layout =null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-with"/>
        <title> Thanks</title>

    </head>
    <body>
        <div>
            <h1> Thank you, @Model.Name!</h1>
            <p>Your request has been made and someone from the IT will be in touch soon</p>
        </div>
        
    </body>
</html>
