@model IEnumerable<ITEquipReq.Models.FormResponse>
@{
        Layout=null;
}
<!DOCTYPE html>
    <html>
        <head>
            <meta name= "viewport" content="width=device-width"/>
            <title> Requests</title>
            <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
            </head>
            <body>
                <div class="text-center p-2">
                <h2 class="text-center"> Here is the list of requests</h2>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr><th>Equipment type</th> <th>Name</th><th>Role</th><th>Accept</th><th>Reject</th></tr>
                    </thead>
                    <tbody>
                        @foreach (ITEquipReq.Models.FormResponse r in Model)

                        {
                            <tr>
                                <td>@r.EquipType.ToString()</td>
                                <td>@r.Name</td>
                                <td>@r.ProfOrStud</td>
                                <td><button type="button" value="">Accept</button></td>
                                <td><button type="button" value="">Reject</button></td>
                            </tr>
                            
                        }
                    </tbody>
                </table>
                </div>
            </body>
    </html>
